body {
    background-color: #b90b20;
}
.corpo {
    background-color: #ffffff;
    width: 100%;
    height: 89vh;
    display: flex;
}

.corpo_dentro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    margin-left: 10%;
    color: white;
    font-size: 35px;
    width: 77vi;
    height: 77vh;
    padding: 0;
    background-color: black;
    border: 3px solid white;
    border-radius: 25px;
}


.caixa {
    margin-top: 0%;
    margin-left: 0%;
    color: rgba(255, 254, 254, 0.608);
    font-size: 24px;
    width: 37vi;
    height: 65vh;
    padding: 2px;
    background-color: #cb0018ba;
    opacity: 77%;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #CB0017 ;
    height: 6vh;
    width: 14vw;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    border: 0;
    transition: 100ms linear;
    border: 3px solid #CB0017;
    margin-bottom: 30px;
}

.button:hover,
.button:focus {
    background-color: #f13047ba;
    height: 6vh;
    width: 14vw;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    border: 0;
    border: 3px solid #CB0017;
    transition: 100ms linear;
}

.select {
    width: 75%;
    height: 42px;
    background-color: #f13047ba ;
    border: 4px solid #CB0017;
    border-radius: 50px;
    padding-left: 20px;
    color: white;
    font-size: 17px;
    transition: 100ms linear;
    appearance: none;
    position: relative;
}

.select:focus {
    width: 75%;
    height: 30px;
    background-color: #CB0017;
    border: 4px solid #f13047ba;
    border-radius: 50px;
    color: white;
    padding-left: 20px;
    transition: 100ms linear;
}

.select option {
    background-color: #cb0018ba;
    color: rgb(250, 246, 246);
    border-radius: 50vh;
}

.select option.selected {
    background-color: #CB0017;
    color: white;
}

.input {
    width: 50%;
    height: 10px;
    background-color: #cb0018ba;
    border: 4px solid #CB0017;
    border-radius: 50px;
    color: white;
    padding-left: 20px;
    transition: 100ms linear;
}

.input:focus {
    width: 70%;
    height: 35px;
    background-color: #CB0017;
    border: 4px solid #cb0018ba;
    border-radius: 50px;
    color: white;
    padding-left: 20px;
    transition: 100ms linear;
}

.input::placeholder{
    color: white;
    font-size: 17px;
    transition: 100ms linear;
}

.input:focus::placeholder {
    color: transparent;
    transition: 100ms linear;
    font-size: 17px;
}

.texto {
    font-size: 16px;
    margin-left: 40px;
    text-align: justify;
}

.descricao_cal {
    line-height: 20px;
    width: 400px;
    font-size: 20px;
}

.title_cal{
    font-size: 30px;
    color: #f13047ba;
}

.modal-container {
    width: 100%;
    position: fixed;
    top: 30%;
    z-index: 999;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #cb0018ba;
    border-radius: 25px;
    width: 50%;
    font-family: inter;
    border: solid 1px #CB0017;
    color: white;
    
  }

.btnFechar {
    background-color: #D9C9BA !important;
  }
  
.btnVoltar {
    background-color: #D9C9BA !important;
  }
.active {
    display: flex;
  }

.active .modal {
    animation: modal .4s;
  }

span {
    margin: 10px auto;
  }



