html
{
    height: 100%;
}
body
{
    height: 100%;
    /* font-family: ; */
}

section
{
    height: 100%;
   
}

.content
{
    width: 100%;
    height: 100%;
    background-image: url(img/torcida.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content .img
{
    width: 170px;
    height: 100%;
    display: flex;
}

.card
{
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CB0017 ;
    margin-top: 7%;
    border-radius: 20px;
}

.card .content_card h1
{
    /* font-family: bold ; */
    font-size: 40px;
    margin-bottom: 5px;
}

.card .content_card p
{
    /* font-family: ; */
    font-size: 26px;
    margin-top: 5px;

}

.card .content_card input
{
    width: 70%;
    height: 35px;
    background-color: #CB0017;
    border: 4px solid #cb0018ba;
    border-radius:  50px;
    color: white;
    padding-left: 20px;
    transition: 100ms linear;
}

.card .content_card input:focus
{
    width: 70%;
    height: 35px;
    background-color: #da1229;
    border: 4px solid #ffffffba;
    border-radius: 50px;
    color: white;
    padding-left: 20px;
    transition: 100ms linear;

}

.card .content_card input::placeholder
{
    color: white;
    /* font-family: ; */
    font-size: 17px;
    transition: 100ms linear;
}
.card .content_card input:focus::placeholder
{
    color: transparent;
    transition: 100ms linear;
    font-size: 17px;
    /* font-family: ; */
}

.card .content_card button
{
    background-color: #100305;
    height: 6vh;
    width: 14vw;
    color: white;
    /* font-family: ; */
    border-radius: 15px;
    font-size: 15px;
    border: 0;
    transition: 100ms linear;
    border: 3px solid #CB0017;
}

.card .content_card button:hover,
.card .content_card button:focus
{
    background-color: #cb0018ba;
    height: 6vh;
    width: 14vw;
    color: white;
    /* font-family: ; */
    border-radius: 15px;
    font-size: 15px ;
    border: 0;
    border: 3px sololid #CB0017;
    transition: 100ms linear;
}
